
.subject {
        background-color:hsl(47, 88%, 63%);
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
        margin: 10px;
        font-weight: bold;
        color: #000;
        width: fit-content;
      }
    
.attribution { 
  font-size: 11px;
  text-align: center; }
.attribution a {
   color: hsl(228, 45%, 44%); }
    
p {
  font-size: 16px;
}
